<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--Animation-->
    <add key="WIFIButton" value="Wifi Connect"/>
    <add key="USBButton" value="USB Stick"/>
    <add key="WifiRouter" value="Test Router"/>
    <add key="SiteURL" value="http:upload.go"/>
    <add key="HindiIntro" value="सरल हिंदी अनुवाद के साथ "/>
        
    <!--Simple Gallery-->
    <add key="RefreshButton" value="Refresh"/>
    <add key="NextButton" value="Next"/>
    <add key="BackButton" value="Back"/>
    <add key="BillInfo" value="Bill Info --"/>
    <add key="PrintSizeText" value="Print size :"/>
    <add key="PrintSizeValue" value="A5"/>
    <add key="CostText" value="Cost/pic :"/>
    <add key="CostValue" value="0/-"/>
    <add key="NoOfPicsText" value="No. of pics :"/>
    <add key="NoOfPicsInitialValue" value="x 0"/>
    <add key="AmountText" value="Amount :"/>
    <add key="AmountInitialValue" value="0/-"/>
    <add key="GSTText" value="GST 18% :"/>
    <add key="GSTValue" value="0/-"/>
    <add key="TotalText" value="Total :"/>
    <add key="TotalValue" value="0/-"/>
    <add key="WarningText" value=""/>

    <!--WifiConnect-->
    <add key="ConnectToWIFIText" value="Connect to Wifi : "/>
    <add key="PasswordNotNeededText" value="(Password not needed)"/>
    <add key="WIFIText" value="Wifi"/>
    <add key="PasswordKiZarooratText" value="से कनेक्ट करे| पासवर्ड की ज़रुरत नहीं है "/>
    <add key="TypeInBrowserText" value="Type in browser :"/>
    <add key="PrintGoText" value="Print.go"/>
    <add key="BrowserMeinLikhenText" value="ब्राउज़र में लिखे । "/>
    <add key="TransferPhotosText" value="Transfer Photos :"/>
    <add key="WaitingForPics" value="Waiting for pics..."/>
    <add key="PhotosKiPratikchaText" value="फोटो की प्रतीक्षा में..."/>

  </appSettings>
</configuration>