<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--Animation-->
    <add key="WIFIButton" value="Wifi Connect"/>
    <add key="USBButton" value="USB Stick"/>
    <add key="WifiRouter" value="Test Router"/>
    <add key="SiteURL" value="http:upload.go"/>
    <add key="HindiIntro" value="सरल हिंदी अनुवाद के साथ "/>
        
    <!--Simple Gallery-->
    <add key="RefreshButton" value="Refresh"/>
    <add key="NextButton" value="Next"/>
    <add key="BackButton" value="Back"/>
    <add key="BillInfo" value="Bill Info --"/>
    <add key="PrintSizeText" value="Print size :"/>
    <add key="PrintSizeValue" value="A5"/>
    <add key="CostText" value="Cost/pic :"/>
    <add key="CostValue" value="5"/>
    <add key="NoOfPicsText" value="No. of pics :"/>
    <add key="NoOfPicsInitialValue" value="0"/>
    <add key="AmountText" value="Amount :"/>
    <add key="AmountInitialValue" value="0"/>
    <add key="GSTText" value="GST 18% :"/>
    <add key="GSTValue" value="18"/>
    <add key="TotalText" value="Total :"/>
    <add key="TotalValue" value="0"/>
    <add key="WarningText" value=""/>
    <add key="WebSiteSearchDir" value="C:\\inetpub\\wwwroot\\uploadjscript\\uploads"/>   <!--Mandatory setting-->
    <add key="LocalDrivesCount" value="1"/>  <!--Mandatory setting-->
    <add key="DriveLetter1" value="C:\"/>     <!--Mandatory setting-->
    <add key="DriveLetter2" value=""/>     <!--Mandatory setting-->
    <add key="DriveLetter3" value=""/>     <!--Mandatory setting-->
    <add key="DriveLetter4" value=""/>     <!--Mandatory setting-->
    <add key="DriveLetter5" value=""/>     <!--Mandatory setting-->
    <add key="DriveLetter6" value=""/>     <!--Mandatory setting-->

    <!--WifiConnect-->
    <add key="ConnectToWIFIText" value="Connect to Wifi : "/>
    <add key="PasswordNotNeededText" value="(Password not needed)"/>
    <add key="WIFIText" value="Wifi"/>
    <add key="PasswordKiZarooratText" value="से कनेक्ट करे| पासवर्ड की ज़रुरत नहीं है "/> <!--TODO: Rename variables needed-->
    <add key="TypeInBrowserText" value="Type in browser :"/>
    <add key="PrintGoText" value="Print.go"/>
    <add key="BrowserMeinLikhenText" value="ब्राउज़र में लिखे । "/>
    <add key="TransferPhotosText" value="Transfer Photos :"/>
    <add key="WaitingForPics" value="Waiting for pics..."/>
    <add key="PhotosKiPratikchaText" value="फोटो की प्रतीक्षा में..."/>

    <!--USB Connect-->
    <add key="UploadButton" value="Upload"/>
    <add key="ConnectToUSBTextEng" value="Connect to USB drive : "/>
    <add key="ConnectToUSBTextHindi_P1" value="USB"/>
    <add key="ConnectToUSBTextHindi_P2" value="ड्राइव को कंप्यूटर से जोड़ें ।"/> <!--TODO: Rename variables needed-->
    <add key="WaitingForUSBEng" value="Waiting for USB..."/>
    <add key="WaitingForUSBHindi" value="ड्राइव की प्रतीक्षा में ।"/>
    
    <!--Receipt-->
    <add key="Line1" value="~~~_! Print-a-Pic !_~~~"/>
    <add key="Line2" value="Tax Invoice No. - "/>
    <add key="Line3" value="No of pics...................."/>
    <add key="Line4" value="Rate/Pic......................"/>
    <add key="Line5" value="Tax..........................."/>
    <add key="Line6" value="-------------------------------"/>
    <add key="Line7" value="Total........................."/>
    <add key="Line8" value="Disclaimer -"/>
    <add key="Line9" value="Print-a-pic is a trademark"/>
    <add key="Line10" value="of HE Retail Supplies, India"/>
    <add key="Line11" value="Note:Pics are deleted after printing."/>

    <!--Printer Settings-->
    <add key="PhotoPrinterName" value="Microsoft XPS Document Writer" />  <!--"OneNote"/>-->
    <add key="ReceiptPrinterName" value="Microsoft XPS Document Writer"/>  <!--"OneNote"/>-->
    <add key="ReceiptBackupDir" value="../AllReceipts"/>
    
    <!--Print-->
    <add key="PrintReady1Hindi" value="फोटो प्रिंट के लिए तैयार हैं। प्रिंट बटन दबाएं ।" />
    <add key="PrintReady1Eng" value="photo(s) are ready for printing" />
    
    <!--Mode-->
    <add key="Mode" value="Debug"/>

  </appSettings>
</configuration>