<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ImageProcessor" version="2.7.0.100" targetFramework="net461" />
  <package id="Magick.NET-Q16-AnyCPU" version="7.14.4" targetFramework="net461" />
  <package id="NLog" version="4.5.11" targetFramework="net461" />
  <package id="PDFsharp" version="1.32.3057.0" targetFramework="net461" />
</packages>