<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
     <add key="WebSiteSearchDir" value="C:\\inetpub\\wwwroot\\PrintAPicSite\\uploads"/>
      <add key="TimeOut" value="720"/> <!--Seconds-->
    <add key="RouterIP" value="192.168.0.110"/>    <!--"Static IP of router, Used in diagnostics"/>-->
  </appSettings>
 
</configuration>